OAUTH2_PROXY_COOKIE_SECRET=1234567890123456
OAUTH2_PROXY_COOKIE_SECURE=true
OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
OAUTH2_PROXY_PASS_ACCESS_TOKEN=true
OAUTH2_PROXY_PASS_USER_HEADERS=true
OAUTH2_PROXY_PROVIDER=oidc
OAUTH2_PROXY_SCOPE=openid
OAUTH2_PROXY_SET_XAUTHREQUEST=true
OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR=true
OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
OAUTH2_PROXY_SSL_INSECURE_SKIP_VERIFY=true
OAUTH2_PROXY_SSL_UPSTREAM_INSECURE_SKIP_VERIFY=true
OAUTH2_PROXY_UPSTREAMS=file:///dev/null


# Oid issuer url
OAUTH2_PROXY_OIDC_ISSUER_URL=https://idp.k8s.example.test/realms/master

OAUTH2_PROXY_CLIENT_ID=cli-test-01
OAUTH2_PROXY_CLIENT_SECRET=0nkUxyhJsTMNNRghIGFTZEXbqNqru5fc

OAUTH2_PROXY_WHITELIST_DOMAINS=.k8s.example.test

# Key of the token with the user group list 
OAUTH2_PROXY_OIDC_GROUPS_CLAIM=cli-test-01-roles
# Comma separed list for allowd groups
OAUTH2_PROXY_ALLOWED_GROUPS=full_admin


# OAUTH2_PROXY_EMAIL_DOMAINS=k8s.example.test
OAUTH2_PROXY_EMAIL_DOMAINS=*